/* #asteroid {
    width: 70%;
    height: 70%;
} */

.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
}

.asteroid {
    grid-column: 2;
    grid-row: 2;
}

.title{
    grid-column: 2;
    grid-row: 1;
    font-family: "Hannari";
    font-size: 10vw;
    text-align: center;

}